In [1]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('agaricus-lepiota.csv', encoding="ISO-8859-1")

In [23]:
print(data.columns)
data.head()

Index(['p', 'x', 's', 'n', 't', 'p.1', 'f', 'c', 'n.1', 'k', 'e', 'e.1', 's.1',
       's.2', 'w', 'w.1', 'p.2', 'w.2', 'o', 'p.3', 'k.1', 's.3', 'u'],
      dtype='object')

   p  x  s  n  t p.1  f  c n.1  k ... s.2  w w.1 p.2 w.2  o p.3 k.1 s.3  u
0  e  x  s  y  t   a  f  c   b  k ...   s  w   w   p   w  o   p   n   n  g
1  e  b  s  w  t   l  f  c   b  n ...   s  w   w   p   w  o   p   n   n  m
2  p  x  y  w  t   p  f  c   n  n ...   s  w   w   p   w  o   p   k   s  u
3  e  x  s  g  f   n  f  w   b  k ...   s  w   w   p   w  o   e   n   a  g
4  e  x  y  y  t   a  f  c   b  n ...   s  w   w   p   w  o   p   k   n  g

[5 rows x 23 columns]

### train and test data

In [78]:
y = data.p
x = data.drop('p', axis=1)

mask = np.random.rand(x.shape[0]) < 0.75    #choose 3/4 of the data for training and the rest for test
x_train = x[mask]    #take the training independent variable data
x_test = x[~mask]    #and the test independent variable data
y_train = y[mask]    #take the training dependent variable data
y_test = y[~mask]    #and the training dependent variable data

#### Replacing ? with NaNs so for processing the data and changing categories to floats...

In [64]:
data.replace(to_replace='?', value = float('nan'), inplace = True)

In [ ]:
for col in data.columns:
    data[col]=pd.Categorical(data[col]).codes

In [77]:
data.head()

,p,x,s,n,t,p.1,f,c,n.1,k,...,s.2,w,w.1,p.2,w.2,o,p.3,k.1,s.3,u
0,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,3,2,1
1,0,0,2,8,1,3,1,0,0,5,...,2,7,7,0,2,1,4,3,2,3
2,1,5,3,8,1,6,1,0,1,5,...,2,7,7,0,2,1,4,2,3,5
3,0,5,2,3,0,5,1,1,0,4,...,2,7,7,0,2,1,0,3,0,1
4,0,5,3,9,1,0,1,0,0,5,...,2,7,7,0,2,1,4,2,2,1

In [80]:
from sklearn.ensemble import RandomForestClassifier

In [81]:
forest = RandomForestClassifier(n_estimators = 100)

In [82]:
forest = forest.fit(x_train, y_train)

In [83]:
# Take the same decision trees and run it on the test data
output = forest.predict(x_test)

In [89]:
forest.score(x_test,y_test)

1.0

In [88]:
y_test[:20]

4     0
8     0
9     0
11    0
16    1
23    0
28    0
30    1
32    0
33    0
36    1
39    0
42    1
43    0
54    0
56    0
57    0
63    0
67    0
73    0
Name: p, dtype: int8